<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<property name="hibernate.bytecode.provider">cglib</property>
		
		<!-- change for productive environments -->
		<property name="hibernate.hbm2ddl.auto">${org.n52.hibernate.hbm2ddl.auto}</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.show_sql">false</property>
		
	</session-factory>
</hibernate-configuration>